@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

    html,
    body {
        @apply m-0 p-0 bg-bg text-white font-sans;
    }

    * {
        @apply box-border;
    }

    a {
        @apply no-underline text-inherit;
    }
}